<!DOCTYPE html>

<html>
    <head>
        <style>
            table, th, td {
                border:1px solid black;
            }
        </style>
    </head>


<body>
    <table style="width: 100%">
        <tr>

            <th>Status</th>
            <th>Tekst</th>
            <th>Verandering</th>
        </tr>
        {%for todo in todos%}

        <tr id="{{todo.pk}}">
            <td id="{{todo.pk}}-state" bgcolor="{%if todo.af%} lightgreen {%else%} darkred {%endif%}">
                {%if todo.af%}
                Af
                {%else%}
                Niet af
                {%endif%} </td>
            <td>{{todo.text}}</td>
            <td id="{{todo.pk}}-switch">
                {%if todo.af%}
                <button onclick='changeTo({{todo.pk}}, false)'> Veranderen naar niet af</button>
                {%else%}
                <button onclick='changeTo({{todo.pk}}, true)'>Veranderen naar Af</button>
                {%endif%}

            </td>

        </tr>

            {%endfor%}

    </table>
    </body>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        function changeTo(id, to) {
            document.getElementById(`${id}-state`).innerHTML = to === true? "Af":  "Niet af";
            var switch_id = document.getElementById(`${id}-switch`);
            switch_id.children[0].setAttribute("onClick", `changeTo(${id}, ${!to})`);
            switch_id.children[0].innerHTML = to === true? "Veranderen naar niet af ": "Veranderen naar Af";
            
            fetch(`/api/todo/${id}/`, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({af: to})
            }).then(response => {
                if (!response.ok) {
                    alert("Something went wrong.");
                    return
                }
                document.getElementById(`${id}-state`).textContent = to == true? "Af":  "Niet af";
                
            });


        }
        </script>
</html>