{%load static%}
<!DOCTYPE html>
<html lang="nl" class="roze">

<head>
	<meta charset="UTF-8">
	<title>Inloggen | Somtoday huiswerk planner </title>
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
	<meta name="apple-mobile-web-app-title" content="Somtoday">
	<link rel="apple-touch-icon" sizes="57x57" href="images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="images/favicon-192x192.png" sizes="192x192?v=zXbBXgwmA5">
	<link rel="icon" type="image/png" href="images/favicon-160x160.png" sizes="160x160?v=zXbBXgwmA5">
	<link rel="icon" type="image/png" href="images/favicon-96x96.png" sizes="96x96?v=zXbBXgwmA5">
	<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16?v=zXbBXgwmA5">
	<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32?v=zXbBXgwmA5">
	<meta name="msapplication-TileColor" content="ffc40d">
	<meta name="msapplication-TileImage" content="mstile-144x144.png?v=zXbBXgwmA5">
	<link rel="stylesheet" type="text/css" href="{%static 'css/main-ver-477A0730DA01E81ECE5B2CD6416B6980.css'%}">
</head>

<body class="stpanel">
	<section class="roze">
		<div class="left-content">

			<div id="logo">
				<figure class="figurelogo"></figure>
			</div>



			<div class="form--holder">
				<form id="signInForm" method="post"
					action="/api/authenticate">
				 	{%csrf_token%}
					<div id="signInForm_hf_0" hidden="" class="hidden-fields"></div>
					<div hidden="" class="hidden-fields"><input type="text" tabindex="-1" autocomplete="off"><input
							id="signInForm_hf_1" type="submit" tabindex="-1" name="loginLink"></div>
					<h1>
						Inloggen
					</h1>
					<div class="form--input state-disabled" tabindex="0" id="id6"
						aria-label="Geselecteerde school: Hondsrug College">
						<input type="text" id="organisatieInput" value="Hondsrug College" name="organisatie"
							disabled="disabled">
					</div>
					<div class="form--input" id="id7">

						<input type="text" id="usernameField" autocapitalize="none" value=""
							name="username"
							placeholder="Gebruikersnaam">
						<div id="id3"></div>

						<div id="id8">

						</div>
					</div>
					<div class="form--input" id="id9">

						<input type="password" id="passwordField" value=""
							name="password" placeholder="Wachtwoord">

						<div id="ida">

						</div>
					</div>
					<div class="form--note-error" id="idb">

					</div>
					<div class="stpanel--buttons">
						<a type="submit" class="button--stpanel primary-button" id="id5"
							href="#"><span>Inloggen</span></a>

					</div>

				</form>
			</div>


		</div>
	</section>


</body>

</html>